@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
html, body {
  position: absolute;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto Slab','Jua';
}
a:link {
  color:inherit;
}
a:visited {
  color: inherit;
}
header {
  height: 130px;
  color:white;
  margin-top:-22px;
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
section {
  text-align: left;
  margin: 0 auto;
  display: block;``
  width:80%;
  max-width: 750px;
}

img {
  width: inherit;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

.topnav.vanish {
  top:-70px;
  transition: top .3s;
}
.topnav {
  margin-top: -1px;
  position: absolute;
  top:0px;
  background-color: #1a0f0c;
  height: 60px;
  width: 100%;
  text-align: left;
  transition: top .3s;
  z-index: 1;
}
.wrap_nav {
  height: 100px;
  margin: 0 auto;
  width: 80%;
  max-width: 1000px;
}
.wrap_nav i {
  /*
  display: none;
  */
  display: block;
  margin-top: 5px;
  width: 30px;
  height: 30px;
}
/* Navigation 아이콘 부분, 순서대로 linkedin, facebook, B 아이콘*/
.wrap_nav li:nth-child(2) i {
  background: url("/icon/linkedin.png");
  background-size:cover;
}
.wrap_nav li:last-child i {
  background: url("/icon/facebook.png");
  background-size:cover;
}
.wrap_nav li:first-child i {
  margin-top: 0px;
  width: 40px;
  height: 40px;
  display: block;
  background: url("/icon/main.png");
  background-size:cover;
}
nav li:first-child {
  float: left;
  margin-left:0;
}
nav li {
  float: right;
  position: relative;
  top:0px;
  list-style: none;
  margin-left:1.5%;
  cursor: pointer;
  display: inline;
  top:10px;
}


.title_input {
  width: 100%;
  height: 50px;
  font-size: 2em;
  outline: none;
  border: none;
  padding-bottom: 7px;
  margin-bottom: 20px;
}
.title_input:hover {
  padding-bottom: 6px;
  border-bottom: 1px solid #BDBDBD;
}
.title_input:focus {
  padding-bottom: 6px;
  border-bottom: 1px solid #BDBDBD;
}
@media ( max-width: 768px ) {
  @import url('https://fonts.googleapis.com/css?family=Gentium+Book+Basic:700&display=swap');
  section {
    width: 90%;
  }
  .topnav.vanish {
    top:-70px;
    transition: top .3s;
  }
  .topnav {
    top:-1px;
    background-color: #1a0f0c;
    position: fixed;
    height: 60px;
    width: 100%;
    text-align: left;
    transition: top .3s;
  }
  .wrap_nav {
    margin:0 auto;
    width: 90%;
    max-width: 768px;
  }
  nav li {
    float: right;
    margin-left:3%;
    cursor: pointer;
    display: inline;
    top:10px;
  }
}
