@import url('https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css?family=Jua&display=swap');
html, body {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto Slab','Jua';
}
body::after {
  width: 0;
}
a:link {
  text-decoration: none;
  color:inherit;
}
a:visited {
  color: inherit;
  text-decoration: none;
}
header::selection {
  background-color: none;
  color: none;
}
header {
  background-color: #1a0f0c;
  height: 40%;
  color:white;
  margin-top:-22px;
}
header .title {
  margin: 0 auto;
  position: relative;
  text-align: left;
  width:80%;
  max-width: 1000px;
}
.title h1 {
  display: inline-block;
  margin-top:10px;
  color:#dbdbdb;
}
header .title h1:hover {
  cursor: pointer;
}

aside {
  width:20%;
  background-color: #CCA63D;
}
aside.left {
  float: left;
  background-color: blue;
  height: 1000px;
}
aside.right {
  font-size: 3em;
  float: right;
  height: 1000px;
  background-color: blue;
}

/* 메인공간 */
section {
  margin: 0 auto;
  display: block;
  width:98%;
  max-width: 1000px;
}
.main_article {
  display: table;
  width:100%;
  max-width: 1000px;
  margin-top:50px;
  max-height: 400px;
}
.main_pic {
  display: table-cell;
  border: 1px solid #c8c8c8;
  width: 600px;
  max-width: 600px;
  overflow: hidden;
}
.main_pic img {
  display: block;
  width:100%;
  height:399px;
  cursor: pointer;
}
.main_text {
  width: 330px;
  display: table-cell;
  text-align: left;
  vertical-align: top;
  padding-left:30px;
  word-break: keep-all;
}
.main_text .main_text_head {
  display:inline;
  line-height:1.2em;
  font-size: 1.9em;
  font-weight: bold;
  cursor: pointer;
  color:#282828;
}
.main_text .main_text_desc {
  font-size: 1em;
  cursor: pointer;
  width: 300px;
  word-break: keep-all;
  margin-top: 5px;
  color: #676767;
}
.main_text .main_text_author {
  margin-top:25px;
  margin-bottom: -5px;
  cursor:default;
}
.author_name {
  color : #3b3b3b;
}
.author_date {
  color: #919191;
}

/* 메인공간 끝 */

.recent_line p {
  position: relative;
  margin-top: 70px;
  color:#737373;
  text-align: left;
}
.recent_line hr {
  margin-top: -10px;
  color: #eeeeee;
}

.recent_line:first-child {
  color:pink;
}


/* 서브 아티클 */

.sub_wrap {
  margin-top:30px;
  display: grid;
  width: 100%;
  text-align: left;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 10px 32px;
}
.sub_article {
  grid-row: 500px;
  width: 100%;
}
.sub_pic {
  border: 1px solid #c8c8c8;
  overflow: hidden;
  width: auto;
  max-width: 530px;
  height: 300px;
}
.sub_pic img {
  display: block;
  width:100%;
  max-width: 530px;
  height: 100%;
  cursor: pointer;
  object-fit:cover;
}
.sub_text {
  margin-top:30px;
  width: 100%;
  max-width: 500px;
  height: auto;
}
.sub_text .sub_text_head {
  display:block;
  margin-bottom: 20px;
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;
  color:#282828;
}
.sub_text .sub_text_desc {
  text-align: left;
  font-size: 1em;
  cursor: pointer;
  word-break: keep-all;
  margin-top: 5px;
  color: #676767;
}
.sub_text .sub_text_author {
  margin-top:25px;
  margin-bottom: -5px;
  cursor:default;
}

/*모든 아티클*/
.all_wrap {
  margin-top:30px;
  display: grid;
  width: 100%;
  text-align: left;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 10px 32px;
}
.all_article {
  width: 100%;
}
.all_pic {
  border: 1px solid #c8c8c8;
  overflow: hidden;
  width: auto;
  height: 300px;
  object-fit: cover;
}
.all_pic img {
  display: block;
  width: 100%;
  max-width: 520px;
  height:300px;
  cursor: pointer;
}
.all_text {
  margin-top:30px;
  width: 100%;
  max-width: 500px;
  height: auto;
}
.all_text .all_text_head {
  display:block;
  margin-bottom: 20px;
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;
  color:#282828;
}
.all_text .all_text_desc {
  text-align: left;
  font-size: 1em;
  cursor: pointer;
  word-break: keep-all;
  margin-top: 5px;
  color: #676767;
}
.all_text .all_text_author {
  margin-top:25px;
  cursor:default;
}

.m {
  top:0;
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  /* background-color: rgb(0,0,0); */
  /* opacity: .4 */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  z-index: 1;
}
.m .content {
  animation-name: speed;
  animation-duration: 1s;
  display: inline-block;
  background-color: #5D5D5D;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  /* border: 1px solid #888; */
  border-radius: 15px;
  height: 200px;
  width: 30%; /* Could be more or less, depending on screen size */
  /* transition:1s; */
}
.m .content input {
  margin-top: 100px;
  height: 30px;
  width: 80%;
  font-size: 3em;
  text-align: center;
  background-color: #1E0000;
  border: 0;
  color:white;
  border-radius: 15px;
}
.m .content input:focus {
  outline: none;
}
@keyframes speed {
　0% {
  transform: translateY(0);
  opacity: 0;
  }
　100% {
  transform: translateY(100px);
  opacity: 1;
  }
}
@media ( max-width: 768px ) {
  html, body {
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Roboto Slab','Jua';
  }
  header {
    display: block;
    background-color: #1a0f0c;
    /* background-color: pink; */
    height: 250px;
    color:white;
    margin-top:-22px;
    color:red;
    max-width:768px;
  }
  header .title {
    margin: 0 auto;
    text-align: left;
    top:122px;
    width:90%;
    max-width:768px;
  }
  section {
    margin-top: -30px;
    width: 90%;
    max-width: 700px;
  }
  .main_article {
    display: block;
    width:100%;
    max-width: 750px;
    margin-top:50px;
    max-height: 400px;
  }
  .main_pic {
    border: 1px solid #c8c8c8;
    width:100%;
    height: auto;
    max-width: 730px;
    overflow: hidden;
  }
  .main_pic img {
    width:100%;
    max-width: 730px;
    height: auto;
    max-height: 200px;
    cursor: pointer;
    object-fit: cover;
  }
  .main_text {
    margin:0 auto;
    padding-left: 0px;
    margin-top: 30px;
    display: block;
    width: 100%;
    max-width: 750px;
    text-align: left;
    vertical-align: top;
    word-break: keep-all;
  }
  .main_text .main_text_head {
    line-height:1.2em;
    font-size: 1.3em;
    font-weight: bold;
    cursor: pointer;
    color:#282828;
  }
  .main_text .main_text_desc {
    font-size: .9em;
    cursor: pointer;
    width: 100%;
    word-break: keep-all;
    margin-top: 5px;
    color: #676767;
  }
  .main_text .main_text_author {
    margin-top:10px;
    margin-bottom: -5px;
    cursor:default;
    font-size: .9em;
  }
  .author_name {
    color : #3b3b3b;
  }
  .author_date {
    color: #919191;
  }
  .recent_line p {
    position: relative;
    margin-top: 50px;
    color:#737373;
    text-align: left;
  }
  .recent_line hr {
    margin-top: -10px;
    color: #eeeeee;
  }
  .sub_wrap {
    margin-top:30px;
    display: grid;
    width: 100%;
    text-align: left;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 10px 32px;
  }
  .sub_pic {
    border: 1px solid #c8c8c8;
    width:100%;
    height: auto;
    max-width: 730px;
    overflow: hidden;
    max-height: 200px;
    object-fit: cover;
  }
  .sub_pic img {
    display: block;
    width:100%;
    max-width: 730px;
    height: auto;
    max-height: 200px;
    cursor: pointer;
    object-fit: cover;
  }
  .sub_text {
    margin:0 auto;
    padding-left: 0px;
    margin-top: 30px;
    display: block;
    width: 100%;
    max-width: 750px;
    text-align: left;
    vertical-align: top;
    word-break: keep-all;
    margin-bottom:30px;
  }
  .sub_text .sub_text_head {
    line-height:1.2em;
    font-size: 1.3em;
    font-weight: bold;
    cursor: pointer;
    color:#282828;
  }
  .sub_text .sub_text_desc {
    font-size: .9em;
    cursor: pointer;
    width: 100%;
    word-break: keep-all;
    margin-top: 5px;
    color: #676767;
  }
  .sub_text .sub_text_author {
    margin-top:10px;
    margin-bottom: -5px;
    cursor:default;
    font-size: .9em;
    margin-bottom: 10px;
  }
  .all_wrap {
    margin-top:30px;
    display: grid;
    width: 100%;
    text-align: left;
    grid-template-columns: repeat(1,1fr);
    grid-gap: 10px 32px;
  }
  .all_article {
    width: 100%;
  }
  .all_pic {
    border: 1px solid #c8c8c8;
    width:100%;
    height: auto;
    max-width: 730px;
  }
  .all_pic img {
    display: block;
    width:100%;
    max-width: 730px;
    margin-left: 1px;
    height: auto;
    max-height: 200px;
    object-fit: cover;
  }
  .all_text {
    margin:0 auto;
    padding-left: 0px;
    margin-top: 30px;
    display: block;
    width: 100%;
    max-width: 750px;
    text-align: left;
    vertical-align: top;
    word-break: keep-all;
  }
  .all_text .all_text_head {
    line-height:1.2em;
    font-size: 1.3em;
    font-weight: bold;
    cursor: pointer;
    color:#282828;
  }
  .all_text .all_text_desc {
    font-size: .9em;
    cursor: pointer;
    width: 100%;
    word-break: keep-all;
    margin-top: 5px;
    color: #676767;
  }
  .all_text .all_text_author {
    margin-top:10px;
    margin-bottom: -5px;
    cursor:default;
    font-size: .9em;
    margin-bottom: 10px;
  }
}
